<h1>Sign up to our newsletter!</h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
	<a href="pages/signedUp" class="btn btn-default">Submit</a>
	
	<h1>Dion Ho</h1>
	<h1><a href="https://github.com/dionho43/webdev1">Link to my Github</a></h1>
</form>
