<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
 <body>
<h1>Welcome <%= @user.username %>!</h1>
<p> You have successfully registered to the Auction House </p>
<p>Thanks for joining.</p>
 </body>
</html> 